      <header class="site-header" role="banner" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
        <div class="wrap">
          <div class="title-area">
            <h1 class="site-title" itemprop="headline"><a href="http://pnc.skar-lett.com/">PNC Test</a></h1>
            <h2 class="site-description" itemprop="description">Bringing People Closer to Jesus</h2>
          </div>
          <aside class="widget-area header-widget-area">
            <section id="nav_menu-2" class="widget widget_nav_menu">
              <div class="widget-wrap">
                <nav class="nav-header" role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                  <ul id="menu-main-menu" class="menu genesis-nav-menu">
                    <li id="menu-item-home" class="menu-item menu-item-type-post_type menu-item-object-page<%= active_menu_item('home') %>"><a href="/">Home</a></li>
                    <li id="menu-item-test" class="menu-item menu-item-type-post_type menu-item-object-page<%= active_menu_item('test') %>"><a href="/test">Test Page</a>
                      <ul class="sub-menu">
                        <li id="menu-item-89" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-89"><a href="http://www.pointenorth.org">Test Link 1</a></li>
                        <li id="menu-item-90" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-90"><a href="http://www.pointenorth.org">Test Link 2</a></li>
                      </ul>
                    </li>
                    <li id="menu-item-online-giving" class="menu-item menu-item-type-post_type menu-item-object-page<%= active_menu_item('giving') %>"><a href="/giving">Onine Giving</a></li>
                    <li id="menu-item-sermon" class="menu-item menu-item-type-post_type menu-item-object-page<%= active_menu_item('series') %>"><a href="/series">Sermons</a></li>
                    <li id="menu-item-test" class="menu-item menu-item-type-post_type menu-item-object-page<%= active_menu_item('volunteer') %>"><a href="/volunteer">Get Involved</a></li>
                  </ul>
                </nav>
              </div>
            </section>
          </aside>
        </div>
      </header>