<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <title>Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true, debug: false %>
    <style type='text/css'>
      .home-section-1 { background-image: url(http://pnc.skar-lett.com/wp-content/uploads/2014/09/Hand.jpg); }.home-section-3 { background-image: url(http://pnc.skar-lett.com/wp-content/uploads/2014/09/Amy_Haley.jpg); }.home-section-5 { background-image: url(http://pnc.skar-lett.com/wp-content/themes/parallax-pro/images/bg-5.jpg); }.home-section-7 { background-image: url(http://pnc.skar-lett.com/wp-content/themes/pnc-parallax/images/bg-7.jpg); }
    </style>
    <link rel='stylesheet' id='dashicons-css'  href='http://pnc.skar-lett.com/wp-includes/css/dashicons.min.css?ver=4.0' type='text/css' media='all' />
    <link rel='stylesheet' id='parallax-google-fonts-css'  href='//fonts.googleapis.com/css?family=Montserrat%7CSorts+Mill+Goudy&#038;ver=1.2' type='text/css' media='all' />
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link rel="Shortcut Icon" href="/assets/favicon.png" type="image/x-icon" />
    <style type="text/css">.site-title a { background: url(/assets/cropped-Logo_header.png) no-repeat !important; }</style>
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <%= csrf_meta_tags %>
  </head>
  
  <% if params[:controller] == "home" %>
  <% # For parallax homepage %>
  <body class="home parallax-home page page-id-20 page-template-default custom-header header-image full-width-content parallax-pro-blue" itemscope="itemscope" itemtype="http://schema.org/WebPage">
  <% else %>
  <% # For all other pages %>
  <body class="page page-id-20 page-template-default custom-header header-image full-width-content parallax-pro-blue" itemscope="itemscope" itemtype="http://schema.org/WebPage">
  <% end %>
  
    <div class="site-container">

      <%= render "layouts/header" %>

      <%= render "layouts/site_inner" %>

      <% render "layouts/pre_footer" %>

      <%= render "layouts/footer" %>
      
      <%= render "layouts/gwfoot" %>

    </div>
    <script type='text/javascript' src='/assets/comment-reply.js'></script>
    <script type="text/javascript">
      $(document).foundation();
    </script>
  </body>
</html>