<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8" />
<title>Test</title><meta name="viewport" content="width=device-width, initial-scale=1" />
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<style type='text/css'>
.home-section-1 { background-image: url(http://pnc.skar-lett.com/wp-content/uploads/2014/09/CalPraying.jpg); }.home-section-3 { background-image: url(http://pnc.skar-lett.com/wp-content/uploads/2014/09/Prayer.jpg); }.home-section-5 { background-image: url(http://pnc.skar-lett.com/wp-content/themes/parallax-pro/images/bg-5.jpg); }
</style>
<link rel='stylesheet' id='dashicons-css'  href='http://pnc.skar-lett.com/wp-includes/css/dashicons.min.css?ver=4.0' type='text/css' media='all' />
<link rel='stylesheet' id='parallax-google-fonts-css'  href='//fonts.googleapis.com/css?family=Montserrat%7CSorts+Mill+Goudy&#038;ver=1.2' type='text/css' media='all' />
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<script type='text/javascript' src='/assets/responsive-menu.js'></script>
<link rel="Shortcut Icon" href="/assets/favicon.png" type="image/x-icon" />
<style type="text/css">.site-title a { background: url(/assets/cropped-Logo_header.png) no-repeat !important; }</style>
<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<%= csrf_meta_tags %>
</head>
  <body class="page page-id-20 page-template-default custom-header header-image full-width-content parallax-pro-blue" itemscope="itemscope" itemtype="http://schema.org/WebPage">
    <div class="site-container">

      <%= render "layouts/header" %>

      <%= render "layouts/site_inner" %>

      <% render "layouts/pre_footer" %>

      <%= render "layouts/footer" %>

    </div>
    <script type='text/javascript' src='/assets/comment-reply.js'></script>
  </body>
</html>